* {
  padding: 0;
  margin-top: 40px;
}
:root {
  font-size: 62.5%;
}
body {
  background-image: url("https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fGJhY2tncm91bmQlMjBmb3IlMjBob3RhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  font-family: "Klee One", cursive;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 100px; */
  /* border: 2px solid red; */
  margin-top: 15px;
}
.text {
  /* border: 2px solid red; */
  margin-left: 40px;
  width: 30%;
  margin: 0 auto;
  color: #990011ff;
}
/* 
.photo {
  /* height: 100px;
  width: 80px; */
/* border: 2px solid red; */
/* margin-right: 40px;
} */

.hotal {
  height: 720px;
  width: 1024x;
}

.text .hd {
  font-size: 48px;
}
.text .des {
  font-size: 18px;
}
.text #hd1 {
  font-size: 64px;
}
